<!------
<div> 
  <input [(ngModel)]=" street" type="text" placeholder="street name">
  <input [(ngModel)]="city" type="text" placeholder="city name">
  <input [(ngModel)]=" zipcode" type="text" placeholder="zip code">
  <input [(ngModel)]=" country" type="text" placeholder="country name">
  <button (click)="addAddress()">Add  a new address</button>
  <p><button (click)= "onSubmit()"> </button></p>
  <button mat-button>press me </button>
   </div>
  -->
  <!--<form [formGroup]='addressForm' >
      <div> 
        <label> Street </label>
      <input formControlName="street"
             type="text"
             placeholder="Please street"
             [ngClass]="{ 'invalid': f.street.errors && f.street.touched }">
      <div *ngIf="f.street.errors && f.street.touched">
             <small class= "text-danger" *ngIf= "street.errors?.required" > street name required </small>
             <small class= "text-danger" *ngIf= "street.errors?.minlegth" > street should be at least 4 characters </small>
        <div>
      </div>
      <div> 
          <label> City </label>
        <input formControlName="street"
               type="text"
               placeholder="Please City name"
               [ngClass]="{ 'invalid': city.errors && f.city.touched }">
        <span *ngIf="f.city.errors && f.city.touched">There is an error</span>
        </div>

        <div> 
            <label> Zip code </label>
          <input formControlName="zipcode"
                 type="text"
                 placeholder="Please zip code"
                 [ngClass]="{ 'invalid': zipcode.errors && f.zipcode.touched }">
          <span *ngIf="f.zipcode.errors && f.zipcode.touched">There is an error</span>
          </div>

          <div> 
              <label> country </label>
            <input formControlName="country"
                   type="text"
                   placeholder="Please enter country name"
                   [ngClass]="{ 'invalid': country.errors && f.country.touched }">
            <span *ngIf="f.country.errors && f.country.touched">There is an error</span>
          </div>
          <button  (click)="AddAddress()">add</button>
    
    </form>
  -->
  
<form [formGroup]='addressForm'>

    <span class="add-add-address">Address</span>
   <p>
    <label> street  :  </label>
    
    <input formControlName="street"
    
           type="text"
           placeholder="Please insert the street name and hause number"
           [ngClass]="{ 'invalid': f.street.errors && f.street.touched }">
           </p>
    <span *ngIf="f.street.errors && f.street.touched">Street name is required</span>
  <p>
    <label>  city : </label>
    <input formControlName="city" type="text" placeholder="Please enter your city name"
    [ngClass]="{ 'invalid': f.city.errors && f.city.touched }">
    
    </p>
    <span *ngIf="f.city.errors && f.city.touched">City name is required 
    </span>
    <p>
    <label>  Zip code : </label>
    <input formControlName="zipcode" type="text" placeholder="enter the your code "
    [ngClass]="{ 'invalid': f.zipcode.errors && f.zipcode.touched }">
    </p>
    <span *ngIf="f.zipcode.errors && f.zipcode.touched">The Zip code is required
    </span>
    <label> Country :  </label>
    <input formControlName="country" type="text" placeholder="Please enter your country name"
    [ngClass]="{ 'invalid': f.country.errors && f.country.touched }">
    <span *ngIf="f.country.errors && f.country.touched">Country name is required.
    </span>
    <p>
    <button   class="add-address-button"(click)="AddAddress()">Add a new Address</button>
    </p>
  
  </form>
  






   
  <!--- <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" [(ngModel)]="address.street" 
            class="form-control" id="street" name="street" placeholder="Enter your street name"
            required #street="ngModel">
        </div>
        <div [hidden]="!street.pristine" class="alert alert-danger">street name is required</div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" [(ngModel)]="address.city" 
            class="form-control" id="city" name="city" placeholder="Enter your city name"
            required #city="ngModel">
          <div [hidden]="!city.pristine" class="alert alert-danger">Email is required</div>
          <div class="form-group">
            <label for="street">Zip coode</label>
            <input type="text" [(ngModel)]="zipcode.street" 
              class="form-control" id="zipcode" name="zipcode" placeholder="Enter the zip code"
              required #zipcode="ngModel">
          </div>
          <div [hidden]="!zipcode.pristine" class="alert alert-danger">zip code is required</div>
          <div class="form-group">
            <label for="country">country</label>
            <input type="text" [(ngModel)]="address.country" 
              class="form-control" id="street" name="street" placeholder="Enter your country name"
              required #country="ngModel">
          </div>
          <div [hidden]="!country.pristine" class="alert alert-danger">country name is required</div>
        </div>
        <button type="submit" [disabled]="!addressForm.form.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
-->