<!----<div> <input [(ngModel)]="accountNr" type="number" placeholder="account number">
  <div> <input [(ngModel)]="balance" type="number" placeholder="balance">
    <div> <input [(ngModel)]="amount" type="number" placeholder="amount">
  <button (click)="addAccount()">Add  a new account</button>
   </div>
  -->
   <form [formGroup]='accountForm'>
     <p>
    <mat-form-field  appearance= "outline" >
        <span matPrefix>DE23 &nbsp;</span>
      <input  #input maxlength = "18" formControlName="accountnr"[(ngModel)]="accountnr" type="tel" matInput placeholder="Enter  naaa">
      <mat-error *ngIf="accountnr.invalid">The accountNr is invalid  </mat-error>
      <mat-hint >  Max 22 {{input.value?.length || 0}}/18 </mat-hint>
      
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance= "outline">
          <input formControlName="balance" [(ngModel)]="balance" matInput placeholder="enter starting maaa">
          <mat-error *ngIf="balance.invalid" >You must have at least 0 amount </mat-error>
          <mat-hint> Only positive values are allowed </mat-hint>
          </mat-form-field>
          </p>
          <p>
              <mat-form-field appearance= "outline">
                  <input formControlName="amount" [(ngModel)]="amount" matInput placeholder ="enter starting maaa">
                  <mat-error *ngIf="amount.invalid">You must have at least 0 amount </mat-error>
                  <mat-hint> Only positive values are allowed </mat-hint>
                  </mat-form-field>
                  </p>
          <button type= button mat-button (click)="addAccount()">Add  a new account</button>
    </form>
    

  
