
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="customerForm">
    <form [formGroup]="customerForm">
      <ng-template matStepLabel>Fill out your personal details</ng-template>
      <mat-form-field  appearance= "outline" >
        <input formControlName="firstName"  [(ngModel)]= "firstName" matInput placeholder="your first name"required>
        <mat-error *ngIf="firstName.invalid">The name is invalid  </mat-error>
        <br>
        <mat-hint> At least 3 characters </mat-hint>
        </mat-form-field>
        <mat-form-field  appearance= "outline" >
          <input formControlName="lastName"  [(ngModel)]= "lastName" matInput placeholder="your last name"required>
          <mat-error *ngIf="lastName.invalid">The name is invalid  </mat-error>
          <br>
          <mat-hint> At least 3 characters </mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
        <input formControlName="age"   [(ngModel)]= "age"   matInput placeholder="enter your age">
        <mat-error *ngIf="age.invalid">Enter a valid age </mat-error>
        <mat-hint> at least 16 yrs old</mat-hint>
        </mat-form-field>
        <mat-form-field    appearance= "outline" >
          <span matPrefix>+49 &nbsp;</span>
          <input #input maxlength="10" formControlName = "telephone" [(ngModel)]= "telephone" type="tel" matInput placeholder="Telephone">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="telephone.invalid">The telephone number  is invalid  </mat-error>
          <mat-hint > Min 8 and  Max 14   {{input.value?.length || 0}}/10</mat-hint>
 
        </mat-form-field>
      <mat-form-field appearance= "outline" >
        <input formControlName="email"  [(ngModel)]= "email"  matInput placeholder=" enter your email ">
        <mat-error *ngIf="email.invalid">The email  is invalid  </mat-error>
        <mat-hint> exampe.com/de/uk  </mat-hint>
        </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressForm">
    <form [formGroup]="addressForm">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance= "outline">
        <input [(ngModel)]="street" matInput placeholder="street" formControlName="street" required>
      
      </mat-form-field>
      <mat-form-field appearance= "outline">
        <input [(ngModel)]="city"matInput placeholder="city" formControlName="city" required>
        <mat-error *ngIf="city.invalid">Zipcode  is invalid  </mat-error>
      </mat-form-field>
      <mat-form-field appearance= "outline" >
        <input formControlName="zipCode"  [(ngModel)]= "zipCode"  matInput placeholder=" zipCode" required >
        <mat-error *ngIf="zipCode.invalid">Zipcode  is invalid  </mat-error>
        </mat-form-field>
        <mat-form-field appearance= "outline" >
          <input formControlName="country"  [(ngModel)]= "country"  matInput placeholder=" country "required>
         <mat-error *ngIf="country.invalid"> Country   is invalid  </mat-error>
          </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="loginForm">
    <form [formGroup]="loginForm">
      <ng-template matStepLabel>Fill out your username and password</ng-template>
      <mat-form-field appearance= "outline" >
        <input formControlName="username"  [(ngModel)]= "username"  matInput placeholder=" username" required >
        <mat-error *ngIf="username.invalid">Zipcode  is invalid  </mat-error>
        </mat-form-field>
        <mat-form-field appearance= "outline" >
          <input formControlName="passwort"  [(ngModel)]= "passwort"  matInput placeholder=" passwort "required>
         <mat-error *ngIf="passwort.invalid"> Country   is invalid  </mat-error>
          </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Thank you for signing up! You can know log in!
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
    <button (click)="addCustomer()">signup </button>
  </mat-step>
</mat-horizontal-stepper>


