
<form [formGroup]='customerForm'>
     <p>
         Firstname: 
<mat-form-field  appearance= "outline" >
  <input formControlName="firstName"  [(ngModel)]= "firstName" matInput placeholder="your first name">
  <mat-error *ngIf="firstName.invalid">The name is invalid  </mat-error>
  <br>
  <mat-hint> At least 3 characters </mat-hint>
  </mat-form-field>
  </p>


  <p>
      Surname:
  <mat-form-field appearance= "outline">
      
      <input formControlName="lastName"  [(ngModel)]= "lastName" matInput placeholder="your surname">
      <mat-error *ngIf="lastName.invalid">The name is invalid  </mat-error>
      <mat-hint> At least 3 characters </mat-hint>
      </mat-form-field>
      </p>
      <p>
      age:
      <mat-form-field appearance= "outline" >
          
          <input formControlName="age"   [(ngModel)]= "age"   matInput placeholder="enter your age">
          <mat-error *ngIf="age.invalid">Enter a valid age </mat-error>
          <mat-hint> at least 16 yrs old</mat-hint>
          </mat-form-field>
        </p>
    
    
   <p>
        <mat-form-field    appearance= "outline" >
                <span matPrefix>+49 &nbsp;</span>
                <input #input maxlength="10" formControlName = "telephone" [(ngModel)]= "telephone" type="tel" matInput placeholder="Telephone">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="telephone.invalid">The telephone number  is invalid  </mat-error>
                <mat-hint > Min 8 and  Max 14   {{input.value?.length || 0}}/10</mat-hint>
       
              </mat-form-field>
            </p>

<p>
       Email:
        <mat-form-field appearance= "outline" >
            <input formControlName="email"  [(ngModel)]= "email"  matInput placeholder=" enter your email ">
            <mat-error *ngIf="email.invalid">The email  is invalid  </mat-error>
            <mat-hint> exampe.com/de/uk  </mat-hint>
            </mat-form-field>
</p>
        <p> <button type= button mat-button (click)="addCustomer()">Add  a new Customer</button>  </p>
  
</form>


