
<header>
  
<div class = "container">
  <a routerLink = "/home" class = "logo"> {{appTitle}}</a>
  <nav>
      <button type= "button" mat-button  style= "position: left 200 px" routerLink="/addcustomer" >Signup</button>
      <button  type= "button" mat-button style= "position: left 400 px"   routerLink="/about" >About us</button>
      <button type= "button" mat-button  style= "position: left 500 px"  routerLink="/home" ><mat-icon>home</mat-icon></button>
  </nav>
</div>
   </header>
<div style="position: absolute; top: 200px; left: 30px;">
    <router-outlet></router-outlet>
</div>

