<div style="position: absolute; top: 0px; left: 0px; width: 300px; background-color: rgb(41, 41, 41); height: 12000px">
    <app-navigation></app-navigation>
</div>
<div style="position: absolute; top: -8px; left: 800px;"  >
   <app-login></app-login>  </div>

 <!---- <div style="position: absolute; top: 0px; right: 200px;" >
   <app-customerview></app-customerview>
</div>
-->
<div style="position: absolute; top: 0px; left: 310px;">
    <router-outlet></router-outlet>
</div>

<!-----<app-money-transfe-form></app-money-transfe-form>
<app-table></app-table>
     <app-login></app-login>
    <app-home></app-home>
      <router-outlet></router-outlet>
-->    
   
