<button  class="button-styled" routerLink="/customers" >Customers</button>
<button  class="button-styled" routerLink="/addcustomer" >Add a customer</button>
<button   class="button-styled" routerLink="/accounts" >accounts</button>
<button   class = "button-styled" routerLink="/addaccount" >add account</button>
<button   class = "button-styled" routerLink="/add-address" >add Adress</button>
<button   class = "button-styled" routerLink="/account" >account</button>
<button   class = "button-styled" routerLink="/money-transfe-form" >Transfer</button>
<button  class= "button-styled" routerLink="/home" ><mat-icon>home</mat-icon></button>
<button  class= "button-styled" routerLink="/setting" ><mat-icon>settings</mat-icon></button>
    <!-- <app-login></app-login>
     <app-table></app-table>
    <app-home></app-home>
    --->



