<form   [formGroup]='moneyForm'>
  <p>
    Sender:
  <mat-form-field  appearance= "outline" >
   <mat-select [(value)]="toAccountId" [disabled]="disableSelect.value">
      <mat-option *ngFor = "let account of listOfAccounts"
     value="{{account.id}}">{{account.id}}</mat-option>
    </mat-select>
  </mat-form-field>

  </p>
  <p>

Receiver:
    <mat-form-field  appearance= "outline" >
     <mat-select   [(value)]= "fromAccountId" [disabled]="disableSelect.value">
        <mat-option *ngFor = "let account of listOfAccounts"
       value="{{account.id}}">{{account.id}}</mat-option>
      </mat-select>
    </mat-form-field>
    </p>
    <p>
      Amount :
    <mat-form-field appearance= "outline">
        <input formControlName="amount" [(ngModel)] ="amount" matInput placeholder="enter amount">
        <mat-error *ngIf="amount.invalid">You must have at least 0 amount </mat-error>
        <mat-hint> Only positive values are allowed </mat-hint>
        </mat-form-field>
</p>
Transfer message:
        <mat-form-field appearance="outline">
          <textarea type="text" [(ngModel)]="message" matInput placeholder="enter transfer message"></textarea>
          </mat-form-field>
        
        <p> <button type= "button"  mat-button (click)="Send()"> send money</button>
          </p>
          <p> <button type= "button"  mat-button (click)="getAccounts()"> Accounts balance</button>
          </p>
          <div *ngFor = "let account of listOfAccounts">
           Account: {{account.id}}, <mat-icon>account_balance</mat-icon> : {{account.balance}} <mat-icon>euro_symbol</mat-icon> , date: {{account.date}}
    </div>
  </form>
